@import './variables';

@mixin center {
  justify-content: center;
  align-items: center;
}

p,
h3,
h2 {
  text-align: center;
  font-family: $fontFamily;
  color: $fontColor;
}

body {
  @include center();
  display: flex;
}

main {
  @include center();
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin-top: 50px;
  box-shadow: 3px 3px 50px rgb(219, 219, 219);
  article {
    display: flex;
    flex-direction: column;
    @include center();
    border: 1px solid rgb(209, 209, 209);

    span p {
      color: $fontColorLight;
    }

    div {
      @include center();
      display: flex;
      font-weight: 900;
      background-color: $priceBackground;
      border-radius: 40%;
      width: 70%;
    }

    button {
      color: $buttonColor;
      background-color: white;
      border: 2px solid $buttonColor;
      border-radius: 3px;
      margin: auto;
    }

    section p {
      text-decoration: underline;
    }
  }
}
